@media (max-width: 767px) {
    /*.header-nav{*/
    /*    column-gap: 50px;*/
    /*    flex-wrap: wrap;*/
    /*    justify-content: right;*/
    /*}*/
    /*.header-left{*/
    /*    width: 100%;*/
    /*}*/
    /*.header-menu{*/
    /*    width: 100%;*/
    /*    flex-wrap: wrap;*/
    /*    justify-content: space-around;*/
    /*}*/
    /*.header-btn{*/
    /*    padding: 10px 20px;*/
    /*}*/
    .header-nav{
        position: absolute;
        width: 100vh;
        height: 70vh;
        background-color: #262627;
        z-index: 100;
    }
    .header-menu{
        flex-direction: column;
    }
    .home-Bgpart{
        width: 70%;
    }
    .home-Bgpart img:nth-child(2){
        left: unset;
        right: 30px;
    }
}
@media (max-width: 425px) {
    .home-title{
        font-size: 60px;
        line-height: 60px;
    }
    .home-link{
        margin: 0 auto;
        width: fit-content;
        display: block;
    }
    .home-Bgpart{
        width: 100%;
    }
}
@media (max-width: 320px) {
    .home-title{
        font-size: 40px;
        line-height: 40px;
    }
    .home-desc{
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 90px;
    }
}